.alldiv {
    height: 400px;
    text-align: center;          

}
.box{
    border: 3px solid black;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: yellow; 
    margin: 120px;    
}

@media only screen and (min-device-width: 0px) and (max-device-width:480px) {

    .box{
        background-color: green;
    }
    }

@media only screen and (min-device-width:481px) and (max-device-width:768px) {


    .box{
        background-color: pink;
        
    }
        
    }

